SimpleMapDemo/Web References/RWS/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AddMember">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="address" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="birthday" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="gender" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="firstName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lastName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nationalCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="phone" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="referalCode" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="registerDate" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddMemberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddMemberResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="phoneNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetInfoResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddMemberShort">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="phone" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="registerDate" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddMemberShortResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddMemberShortResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateLoginDateTime">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="phoneNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateLoginDateTimeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateLoginDateTimeResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangeInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="address" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="birthday" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="gender" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="firstName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lastName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nationalCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="phone" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="referalCode" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="registerDate" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangeInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ChangeInfoResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangeInfoShort">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="address" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="gender" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="firstName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lastName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nationalCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="phone" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="referalCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangeInfoShortResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ChangeInfoShortResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckMember">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="phone" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckMemberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CheckMemberResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteMember">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="phone" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteMemberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteMemberResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddRecycling">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="phone" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="location_X" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="location_Y" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="status" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="submitDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="type" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="weight" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddRecyclingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddRecyclingResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckRecycling">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="phone" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckRecyclingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CheckRecyclingResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetRecyclingType">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Type1" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="Type2" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="Type3" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="Type4" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="Type5" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetRecyclingTypeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SetRecyclingTypeResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CancelPersonRecycling">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="phoneNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CancelPersonRecyclingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CancelPersonRecyclingResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangeStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="phone" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="status" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangeStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ChangeStatusResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangeDriver">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="phone" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="driverId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangeDriverResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ChangeDriverResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendTicket">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="phone" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ticketMessege" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendTicketResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SendTicketResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddMemberSoapIn">
    <wsdl:part name="parameters" element="tns:AddMember" />
  </wsdl:message>
  <wsdl:message name="AddMemberSoapOut">
    <wsdl:part name="parameters" element="tns:AddMemberResponse" />
  </wsdl:message>
  <wsdl:message name="GetInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetInfo" />
  </wsdl:message>
  <wsdl:message name="GetInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetInfoResponse" />
  </wsdl:message>
  <wsdl:message name="AddMemberShortSoapIn">
    <wsdl:part name="parameters" element="tns:AddMemberShort" />
  </wsdl:message>
  <wsdl:message name="AddMemberShortSoapOut">
    <wsdl:part name="parameters" element="tns:AddMemberShortResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateLoginDateTimeSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateLoginDateTime" />
  </wsdl:message>
  <wsdl:message name="UpdateLoginDateTimeSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateLoginDateTimeResponse" />
  </wsdl:message>
  <wsdl:message name="ChangeInfoSoapIn">
    <wsdl:part name="parameters" element="tns:ChangeInfo" />
  </wsdl:message>
  <wsdl:message name="ChangeInfoSoapOut">
    <wsdl:part name="parameters" element="tns:ChangeInfoResponse" />
  </wsdl:message>
  <wsdl:message name="ChangeInfoShortSoapIn">
    <wsdl:part name="parameters" element="tns:ChangeInfoShort" />
  </wsdl:message>
  <wsdl:message name="ChangeInfoShortSoapOut">
    <wsdl:part name="parameters" element="tns:ChangeInfoShortResponse" />
  </wsdl:message>
  <wsdl:message name="CheckMemberSoapIn">
    <wsdl:part name="parameters" element="tns:CheckMember" />
  </wsdl:message>
  <wsdl:message name="CheckMemberSoapOut">
    <wsdl:part name="parameters" element="tns:CheckMemberResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteMemberSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteMember" />
  </wsdl:message>
  <wsdl:message name="DeleteMemberSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteMemberResponse" />
  </wsdl:message>
  <wsdl:message name="AddRecyclingSoapIn">
    <wsdl:part name="parameters" element="tns:AddRecycling" />
  </wsdl:message>
  <wsdl:message name="AddRecyclingSoapOut">
    <wsdl:part name="parameters" element="tns:AddRecyclingResponse" />
  </wsdl:message>
  <wsdl:message name="CheckRecyclingSoapIn">
    <wsdl:part name="parameters" element="tns:CheckRecycling" />
  </wsdl:message>
  <wsdl:message name="CheckRecyclingSoapOut">
    <wsdl:part name="parameters" element="tns:CheckRecyclingResponse" />
  </wsdl:message>
  <wsdl:message name="SetRecyclingTypeSoapIn">
    <wsdl:part name="parameters" element="tns:SetRecyclingType" />
  </wsdl:message>
  <wsdl:message name="SetRecyclingTypeSoapOut">
    <wsdl:part name="parameters" element="tns:SetRecyclingTypeResponse" />
  </wsdl:message>
  <wsdl:message name="CancelPersonRecyclingSoapIn">
    <wsdl:part name="parameters" element="tns:CancelPersonRecycling" />
  </wsdl:message>
  <wsdl:message name="CancelPersonRecyclingSoapOut">
    <wsdl:part name="parameters" element="tns:CancelPersonRecyclingResponse" />
  </wsdl:message>
  <wsdl:message name="ChangeStatusSoapIn">
    <wsdl:part name="parameters" element="tns:ChangeStatus" />
  </wsdl:message>
  <wsdl:message name="ChangeStatusSoapOut">
    <wsdl:part name="parameters" element="tns:ChangeStatusResponse" />
  </wsdl:message>
  <wsdl:message name="ChangeDriverSoapIn">
    <wsdl:part name="parameters" element="tns:ChangeDriver" />
  </wsdl:message>
  <wsdl:message name="ChangeDriverSoapOut">
    <wsdl:part name="parameters" element="tns:ChangeDriverResponse" />
  </wsdl:message>
  <wsdl:message name="SendTicketSoapIn">
    <wsdl:part name="parameters" element="tns:SendTicket" />
  </wsdl:message>
  <wsdl:message name="SendTicketSoapOut">
    <wsdl:part name="parameters" element="tns:SendTicketResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="AddMember">
      <wsdl:input message="tns:AddMemberSoapIn" />
      <wsdl:output message="tns:AddMemberSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetInfo">
      <wsdl:input message="tns:GetInfoSoapIn" />
      <wsdl:output message="tns:GetInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddMemberShort">
      <wsdl:input message="tns:AddMemberShortSoapIn" />
      <wsdl:output message="tns:AddMemberShortSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateLoginDateTime">
      <wsdl:input message="tns:UpdateLoginDateTimeSoapIn" />
      <wsdl:output message="tns:UpdateLoginDateTimeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ChangeInfo">
      <wsdl:input message="tns:ChangeInfoSoapIn" />
      <wsdl:output message="tns:ChangeInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ChangeInfoShort">
      <wsdl:input message="tns:ChangeInfoShortSoapIn" />
      <wsdl:output message="tns:ChangeInfoShortSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckMember">
      <wsdl:input message="tns:CheckMemberSoapIn" />
      <wsdl:output message="tns:CheckMemberSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteMember">
      <wsdl:input message="tns:DeleteMemberSoapIn" />
      <wsdl:output message="tns:DeleteMemberSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddRecycling">
      <wsdl:input message="tns:AddRecyclingSoapIn" />
      <wsdl:output message="tns:AddRecyclingSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckRecycling">
      <wsdl:input message="tns:CheckRecyclingSoapIn" />
      <wsdl:output message="tns:CheckRecyclingSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetRecyclingType">
      <wsdl:input message="tns:SetRecyclingTypeSoapIn" />
      <wsdl:output message="tns:SetRecyclingTypeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CancelPersonRecycling">
      <wsdl:input message="tns:CancelPersonRecyclingSoapIn" />
      <wsdl:output message="tns:CancelPersonRecyclingSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ChangeStatus">
      <wsdl:input message="tns:ChangeStatusSoapIn" />
      <wsdl:output message="tns:ChangeStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ChangeDriver">
      <wsdl:input message="tns:ChangeDriverSoapIn" />
      <wsdl:output message="tns:ChangeDriverSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendTicket">
      <wsdl:input message="tns:SendTicketSoapIn" />
      <wsdl:output message="tns:SendTicketSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddMember">
      <soap:operation soapAction="http://tempuri.org/AddMember" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInfo">
      <soap:operation soapAction="http://tempuri.org/GetInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddMemberShort">
      <soap:operation soapAction="http://tempuri.org/AddMemberShort" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateLoginDateTime">
      <soap:operation soapAction="http://tempuri.org/UpdateLoginDateTime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeInfo">
      <soap:operation soapAction="http://tempuri.org/ChangeInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeInfoShort">
      <soap:operation soapAction="http://tempuri.org/ChangeInfoShort" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckMember">
      <soap:operation soapAction="http://tempuri.org/CheckMember" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteMember">
      <soap:operation soapAction="http://tempuri.org/DeleteMember" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddRecycling">
      <soap:operation soapAction="http://tempuri.org/AddRecycling" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckRecycling">
      <soap:operation soapAction="http://tempuri.org/CheckRecycling" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetRecyclingType">
      <soap:operation soapAction="http://tempuri.org/SetRecyclingType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelPersonRecycling">
      <soap:operation soapAction="http://tempuri.org/CancelPersonRecycling" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeStatus">
      <soap:operation soapAction="http://tempuri.org/ChangeStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeDriver">
      <soap:operation soapAction="http://tempuri.org/ChangeDriver" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendTicket">
      <soap:operation soapAction="http://tempuri.org/SendTicket" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddMember">
      <soap12:operation soapAction="http://tempuri.org/AddMember" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInfo">
      <soap12:operation soapAction="http://tempuri.org/GetInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddMemberShort">
      <soap12:operation soapAction="http://tempuri.org/AddMemberShort" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateLoginDateTime">
      <soap12:operation soapAction="http://tempuri.org/UpdateLoginDateTime" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeInfo">
      <soap12:operation soapAction="http://tempuri.org/ChangeInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeInfoShort">
      <soap12:operation soapAction="http://tempuri.org/ChangeInfoShort" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckMember">
      <soap12:operation soapAction="http://tempuri.org/CheckMember" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteMember">
      <soap12:operation soapAction="http://tempuri.org/DeleteMember" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddRecycling">
      <soap12:operation soapAction="http://tempuri.org/AddRecycling" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckRecycling">
      <soap12:operation soapAction="http://tempuri.org/CheckRecycling" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetRecyclingType">
      <soap12:operation soapAction="http://tempuri.org/SetRecyclingType" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelPersonRecycling">
      <soap12:operation soapAction="http://tempuri.org/CancelPersonRecycling" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeStatus">
      <soap12:operation soapAction="http://tempuri.org/ChangeStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeDriver">
      <soap12:operation soapAction="http://tempuri.org/ChangeDriver" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendTicket">
      <soap12:operation soapAction="http://tempuri.org/SendTicket" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="http://138.201.96.143/web/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="http://138.201.96.143/web/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>